body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

ul {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }  
  li {
    float: right;
  }

  h1 {
    padding: 0.5rem;
    margin: 0;
    float: left;
    color: whitesmoke;
  }
  
  li a {
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 1rem;
    border: 1px solid #111;
    border-radius: 5px;
    text-align: center;
    background-color: lightgray;
}

.login-form {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

#username, #password {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}


button[type="submit"] {
    padding: 0.5rem 2rem 0.5rem;
}
